<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Facturacion</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

		<h1 style="padding-left: 5px">Facturacion</h1>
		
			<div class="w-50 p-3">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Matricula</th>
							<th>Facturado</th>
						</tr>
					</thead>
				
					<tr th:each="fac: ${facturacion}">
						<td th:text="${fac.matricula}"></td>
						<td th:text="${fac.facturacion}"></td>	
					</tr>
					
				</table>
			</div>
			
		<a href="toMenu" style="padding-left: 5px">&laquo; Volver al menu</a>
		
</body>
</html>